{% extends "layout.html" %}
{% block body %}
<h1>Favorite Locations</h1>
<div id="tableContainer">
	<table class="table table-striped table-condensed">
			{% for entry in entries %}
			<tr>
				<td><h3>{{ entry.name }}</h3></td>
				<td>{{ entry.street }} <br> {{ entry.city }} {{ entry.state }} {{ entry.zip }}</td>
				<td>
					<a id="updateFavorite" href="javascript:;;">Update</a>
					<form id="updateFavForm" action="{{ url_for('get_update_entry') }}" method="post">
						<input id="idVal" type="hidden" name="id" value="{{ entry.id }}"/>
					</form>
				</td>
			{% else %}
			  <h3><em>No favorites stored. Click 'Add Favorites' to add a location.</em></h3>
			</tr>
			{% endfor %}
	</table>
</div>
<div id="mapDiv"></div>
{% endblock %}