{% extends "layout.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
	<h1>Update Favorite</h1>
	{% for entry in entries %}
		
		<form action="{{ url_for('update_entry') }}" method=post class=add-entry>
		  <dl>
			<input type="hidden" name="id" value="{{ entry.id }}"/>
			<label for="name">Name:</label>
			<input id="name" type=text size=30 name=name value="{{entry.name}}"><br>
			<label for="street">Street:</label>
			<input id="street" type=text size=30 name=street value="{{entry.street}}"><br>
			<label for="city">City:</label>
			<input id="city" type=text size=30 name=city value="{{entry.city}}"><br>
			<label for="state">State:</label>
			<input id="state" type=text size=30 name=state value="{{entry.state}}"><br>
			<label for="zip">Zip:</label>
			<input id="zip" type=text size=30 name=zip value="{{entry.zip}}"><br>
		    <dd><input type=submit value="Update Favorite">
		  </dl>
		</form>
	{% endfor %}

{% endblock %}